---
import { Card } from "studiocms:ui/components/card";

import { useTastro } from "@sipc.ink/tastro"
const { t } = useTastro(Astro.request)
---

<Card class="glass-card" style="width: 100%">
    <div style="display: flex;align-items: center;justify-content: space-between;color: #808080;">
        © {new Date().getFullYear()}
        <a href="https://th-dd.top" style="color: inherit; text-decoration: none;">
            {t("footer.site")}
        </a>
        <a href="https://hyperos.mi.com/font" style="color: #424242; text-decoration: none;">
            {t("footer.font")}
        </a>
    </div>
</Card>
