---
import { User } from "studiocms:ui/components/user";
import ProfileImage from "../../public/avatar.jpg";

import { useTastro } from "@sipc.ink/tastro"
const { t } = useTastro(Astro.request)
---

<div class="glass-card" style="width: 100%; min-height: 80px; display: flex; align-items: center; justify-content: center; padding: 20px;">
    <User name={t("profile.name")} description={t("profile.description")} avatar={ProfileImage} />
</div>
